<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Volunteer Sign-Up Form</title>
    <style>
        h1 { ;
            color: darkred;
        }
    </style>
</head>
<body>
    <h1>Volunteer Sign-Up Form</h1>
    <div class = "col-md-4">
    <label for = "OrganizationName">Organization's Name:</label>
    <input type = "text" class="form-control" id = "OrganizationName">
    </div>
    <div class = "row"></div>
    <div class = "col-md-4">
    <label for = "ContactPerson">Contact Person:</label>
    <input type = "text" class="form-control" id = "ContactPerson">
    </div>
    <div class = "row"></div>
    <div class = "col-md-4">
    <label for = "PhoneNumber">Phone Number:</label>
    <input type = "text" class="form-control" id = "PhoneNumber">
    </div>
    <div class = "row"></div>
    <div class = "col-md-4">
    <label for = "Email">Email:</label>
    <input type = "text" class="form-control" id = "Email">
    </div>
    <div class = "row"></div>
  <!--  <input type = "text" name = "Date of project:">
    <input type = "text" name = "Time of project:"> -->
    <div class = "col-md-4">
    <label for = "NumberOfVolunteers">Number of Volunteers:</label>
    <input type = "text" class="form-control" id = "NumberOfVolunteers">
    </div>
    <div class = "row"></div>
    <div class = "col-md-4">
    <label for = "TypeOfServiceProject">Type of Service Project:</label>
    <input type = "text" class="form-control" id = "TypeOfServiceProject">
    </div>
    <div class = "row"></div>
    <div class = "row"></div>
    <br>
    <br>
    <div class = "endmsg">
        <p>If you would like to learn more about our ongoing volunteer opportunities, please visit our website at <a href="http://www.rmhccin.org">rmhccin.org</a> and click on “Volunteer”.  Here you will find some general information.  If you have continued interest please give me a call at 317-269-2247 so we can discuss details</p>
    </div>
</body>
</html>