<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<div class="container-fluid content">
    <div class="title">
        <h1>Service Opportunities</h1>
    </div>


    <div class="panel-group col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    + <a data-toggle="collapse" href="#meal">
                    Prepare a Home-cooked Meal
                </a>
                </h5>
            </div>
            <div id="meal" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>
                        It is comforting for families staying at the Ronald McDonald House to come “home” to a hot home-cooked meal after a long day at the hospital with their critically ill child.  Groups can
                        choose to serve breakfast or dinner for about 50 people.
                    </p>
                    <p>
                        Your group is asked to supply all the food, paper products, plastic ware, drinks and cups.  If you would like more information about this opportunity, please click on the following
                        link access our online meal calendar to schedule a meal.
                    </p>
                    <div class="panel-footer">
                        <a href="http://www.takethemameal.com/meals.php?t=DJUG8144" title="Schedule Meal" target="blank">Schedule a meal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    + <a data-toggle="collapse" href="#inHouse">
                    In-House Service Projects
                </a>
                </h5>
            </div>
            <div id="inHouse" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>
                        As with any home, it takes a lot of peoplepower to keep the Ronald McDonald House tidy and neat.  We always welcome individuals and groups that are interested in performing service projects,
                        such as cleaning, collating information packets, organizing food pantries, and keeping our outside grounds maintained.
                    </p>
                    <h5>Facility Projects</h5>
                    <p>
                        The actual tasks you might be doing depends upon the needs of the House but often will be a cleaning project.  You might be organizing and cleaning one of our food pantries, deep cleaning a
                        kitchen, wiping woodwork and blinds or a similar type of project. We schedule service projects year round and the actual details of the project will be determined as the date gets closer.
                    </p>

                    <h5>Make a Casserole</h5>
                    <p>
                        Prepare your favorite casserole using our kitchen. Your homemade casserole will then be frozen and prepared later to serve to our families. You may or may not interact with our families but
                        nothing smells better than a home cooked meal! We ask that you supply all the ingredients, including the aluminum pan, as well as the recipe so we have the cooking instructions and the
                        casserole’s contents for those with food allergies.
                    </p>

                    <h5>Bake Cookies</h5>
                    <p>
                        You supply all the ingredients of your favorite cookies and bake them for our families in our kitchen.  We supply the cookie sheets and spatulas.  You may or may not interact with
                        our families but nothing says “home” like the smell of fresh baked cookies!
                    </p>

                    <h5>Ice Cream Social</h5>
                    <p>
                        So they don’t conflict with our dinners, we schedule our ice cream socials for 7:30 pm in the evening.  You are more than welcome to arrive earlier to set up. You are asked to supply the
                        ice cream, toppings, disposable bowls, spoons and serving scoops.
                    </p>
                    <div class="panel-footer">
                        <a href="#/calendar" ui-sref="calendar" title="Schedule Meal">Find a Date to Serve</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    + <a data-toggle="collapse" href="#homeBased">
                    Home-Based Service Projects
                </a>
                </h5>
            </div>
            <div id="homeBased" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>There are a number of service projects that can be done outside of the Ronald McDonald House, and are appropriate for any age or group size.  These projects include:</p>
                    <ul>
                        <li>Conducting a Food or Wish List Drive</li>
                        <li>Collecting Pop Tabs</li>
                        <li>Making "Thinking of You" Cards and/or goodie bags filled with nutritious snacks for the families staying at the House (we have 58 guest rooms)</li>
                        <li>Organizing a fundraiser to benefit the House</li>
                    </ul>
                    <h5>Facility Projects</h5>
                    <p>
                        The actual tasks you might be doing depends upon the needs of the House but often will be a cleaning project.  You might be organizing and cleaning one of our food pantries, deep cleaning a
                        kitchen, wiping woodwork and blinds or a similar type of project. We schedule service projects year round and the actual details of the project will be determined as the date gets closer.
                    </p>
                    <div class="panel-footer">
                        <a href="http://www.rmhccin.org/how-you-can-help/ways-to-donate/wish-list/" title="Schedule Meal" target="blank">Learn more about Wish Lists</a>
                        <br>
                        <a href="http://www.rmhccin.org/how-you-can-help/ways-to-donate/pop-tabs/" title="Schedule Meal" target="blank">Learn more about Pop Tabs</a>
                        <br>
                        <a href="http://www.takethemameal.com/meals.php?t=DJUG8144" title="Schedule Meal" target="blank">Learn more about Fundraisers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>